spring:
  application:
    name: Sequence Generator

  datasource:
    url: jdbc:mysql://localhost:3306/sequence_generator
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8083